.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-content: flex-end;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 20px;
}