.home {
    display: flex;
    flex-direction: column;
    background-color: black;
    p{
        color: white;
        text-align: center;
        font-size: 28px;
    }
    .hero {
        height: 728px;
        width: 70%;
        padding: 0 15%;
    }
  }

  @media (max-width: 768px) {
    p {
      font-size: 20px;

    .hero {
      height: auto;
      width: 100%;
      padding: 0 10%;
    }
  }

  @media (max-width: 480px) {
    p {
      font-size: 18px;
    }

    .hero {
      padding: 0 5%;
    }
  }
}