.home {
    display: flex;
    flex-direction: column;
    background-color: black;
    p{
        color: white;
        text-align: center;
        font-size: 28px;
    }
    .hero {
        height: 702px;
        width: 70%;
        padding: 0 15%;
    }
}