.home {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    .hero {
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
  }

