@import 'variables';
@import 'mixins';
@import '../styles/header.scss';
@import '../styles/footer.scss';
@import '../styles/contact.scss';
@import '../styles/home.scss';
@import '../styles/product.scss';
@import '../styles/notFound.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

@import '../styles/media-queries/mainMedia.scss';

body, html {
  height: 100%;
  width: 100%;
  font-family: "Rubik Wet Paint", system-ui;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}